@font-face {
  font-family: BlackOpsOne;
  src: url("../fonts/BlackOpsOne-Regular.ttf");
  }

/*
@font-face {
font-family: stencilfont;
src: url("../fonts/gunplay.ttf");
}
*/

html,body {
  font-size: 10pt;
  font-family: "Times New Roman",Times, serif;
  }

body {
  margin-left: 1in;
  margin-right: 0in;
  margin-top: 0in;
  margin-bottom: 0in;
  max-width: 6.5in;
  background-size: 8.5in 11in;
  background-image: url('../images/background-image.png');
}

/* positions content vertically on page */
.pagecontent {
  padding-top: .65in;
  padding-bottom: .65in;
  max-height: 11in;
  min-height: 11in;
  box-sizing: border-box;
/*  background-color: rgba(255,192,203,.5);
  border: 1px solid black; */
}
.columntext {
  column-count: 2;
  margin-top: 2em;
  column-gap: 20px;
  box-sizing: border-box;
}

@media (min-width:0px)  {
  body {
    margin-left: 0in;
    margin-right: 0in;
    background-size: 8.5in 19.4in;
    }
  /* positions content vertically on page */
  .pagecontent {
    padding-top: 1.3in;
    padding-bottom: 1.3in;
    max-height: 19.4in;
    min-height: 19.4in;
    box-sizing: border-box;
    margin: auto;
  }
  .columntext {
    column-count: 1;
  }
  .missionwrapper {
    height: auto;
    width: 100%;
  }
  .missiongridmap img {
    width: 80%;
    height: auto;
    max-width: 2.82in;
  }
}
@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  body {
    margin-left: .25in;
    margin-right: .25in;
    background-size: 8.5in 19.4in;
    }
}
@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */
  .missiongridmap img {
    width: 90%;
    height: auto;
    max-width: 3.15in;
  }
}
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
  body {
    margin-left: 1in;
    margin-right: 0in;
    background-size: 8.5in 11in;
    }
  /* positions content vertically on page */
  .pagecontent {
    padding-top: .65in;
    padding-bottom: .65in;
    max-height: 11in;
    min-height: 11in;
  }
  .columntext {
    column-count: 2;
  }
  .missionwrapper {
    height: 50%;
    width: 48%;
  }
  .missiongridmap img {
    width: 94%;
    height: auto;
    max-width: 2.82in;
  }
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }

.section {
  display: inline-block
  }

h1,h2,h3 {
  font-family: "stencilfont", "Saira Stencil One", "Black Ops One", "sans-serif";
  color:Black;
  margin-top: .2em;
  margin-bottom: .1em;
}
h4,h5,h6 {
  font-family: "Times New Roman",Times, serif;
  }
h1 {color: #c64f1a}
h4 {margin-top: 0em; margin-bottom: 0em; padding-left: 0ex}

/*KILLZONE: <KILLZONE NAME>*/
.title {
  font-family: "stencilfont", "Saira Stencil One", "BlackOpsOne", "sans-serif";
  color:#c64f1a;
  font-size: 36pt;
  text-align: center;
  text-transform: uppercase;
  }
/*Section title such as MISSIONS*/
.subtitle {
  font-family: "stencilfont", "Saira Stencil One", "BlackOpsOne", "sans-serif";
  color: #333333;
  font-size: 24pt;
  text-align: left;
  text-transform: uppercase;
}

#missiongrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 50%;
  margin-top: -0px;
}
.missiongridblurb h3 {text-align: center;}
.missiongridblurb a {margin: auto;}
.missiongridblurb .missiontype {
  margin-bottom: 1ex;
  text-align: center;
  }
.missiongridmap {text-align: center;}
.missiongridlink {
  color: #c64f1a;
}
.missiongridtype {
  margin-bottom: 1ex;
  text-align: center;
  font-weight: bold;
}

/*Mission type, e.g. Matched Play, Narrative Play*/
.missiontype {
  font-family: arial, "sans-serif";
  color: Black;
  font-weight: bold;
  font-size: 12pt;
  text-align: center;
  text-transform: uppercase;
  font-stretch: ultra-condensed;
  margin-bottom: -1ex;
  page-break-before: always;
}
.missionname {
  font-family: "stencilfont", "Saira Stencil One", "BlackOpsOne", "sans-serif";
  color: #c64f1a;
  font-size: 36pt;
  text-align: center;
}
/* column-spanning text which sets the scene of the mission */
.missionflavortext {
  font-weight: bold;
  margin-bottom: 1em;
  text-align: center;
}

table, th, td {
  padding: 0em;
  text-align: left;
  border-spacing: 0px;
  max-width: 3.25in;
  }
/*Environment Table Orange Tab*/
.environment-table-tab {
  background-image: url('../images/tableheader-border.png');
  background-size: 100% 100%;
  /*background-position: right;*/
  background-repeat: no-repeat;
  background-clip: border-box;
  font-family: "stencilfont", "Saira Stencil One", "BlackOpsOne", "sans-serif";
  color:Black;
  font-size: 1.17em;
  text-align: left;
  text-transform: uppercase;
  padding-top: .1em;
  padding-bottom: .1em;
  padding-left: .4em;
  box-sizing: border-box;
  }
#environment-table {
  box-sizing: border-box;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  }
#environment-table th, td {
  padding-top: 3px;
  padding-bottom: 3px;
  border-bottom: 1px solid black;
  }
/*Header row (d6 | Results)*/
#environment-table th {
  font-family: "stencilfont", "Saira Stencil One", "BlackOpsOne", "sans-serif";
  color:Black;
  background: rgba(51,51,51,.5);
  font-size: 1.17em;
  text-transform: uppercase;
  text-align: center;
  }
/*first column (d6)*/
#environment-table th:nth-child(odd), td:nth-child(odd) {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: top;
  font-weight: bold;
  }
/*second column (results)*/
#environment-table th:nth-child(even), td:nth-child(even) {
  text-align: left;
  padding-right: 8px;
  }
/*even rows shading*/
#environment-table tr:nth-child(even) {
  background: rgba(153,153,153,.5);
  }

.tactic {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 12px;
  padding-right: 12px;
}

.tactic-title {
  background-size: 90% 100%;
  background-repeat: no-repeat;
  background-clip: border-box;
  text-transform: uppercase;
}

.tactic-card {
  border: 2px solid #c64f1a;
  background: rgba(255,255,255,.5);
  margin-bottom: 1em;
  max-width: 3.25in;
}

.tactic-header {
  background-image: url('../images/tacticheader.png');
  background-position: left;
}

.tactic-body {
  padding-top: 18px;
  padding-bottom: 2px;
}

.tactic-body-header {
  font-weight: bold;
  font-size: 14pt;
}

.tactic-footer {
  background-image: url('../images/tacticfooter.png');
  background-position: right;
  text-align: right;
}

/*centers an image in an element*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.floatleft {float: left}
.floatright {float: right}
.textcenter {text-align: center}

a {text-decoration: underline; color:#c64f1a; font-weight: bold;}
a:hover {text-decoration: none;}
p {margin-top: 0em;}
b {}
strong {}

/* for scenario type */
.scenariotype {text-transform: uppercase; font-weight: 900;}

li {}
ul {padding-left: 2em;}
ol {text-indent: 0em}

@media print {
  body{background-image: none}
  body {
    margin-left: 1in;
    margin-right: 0in;
    background-size: 8.5in 11in;
    }
  /* positions content vertically on page */
  .pagecontent {
    padding-top: .65in;
    padding-bottom: .65in;
    max-height: 11in;
    min-height: 11in;
  }
  .columntext {
    column-count: 2;
  }
  .missionwrapper {
    height: 50%;
    width: 48%;
  }
  .missiongridmap img {
    width: 94%;
    height: auto;
    max-width: 2.82in;
  }
}
